
.ligne{
    background-color:#d7d5d7;
}
body {
	background-color: #babfba;
}

header {
	background-color: #bfbabf;
	text-align: center;
}

.maintable{
	width:100%;
	margin-left: auto;
	margin-right: auto;    
}
.livres{
    border : 2px solid black;
    padding: 5px;
    margin: 3px;
    width:250px;
	border-radius:15px;
	transition: all .2s ease-in-out;
	transform: scale(1);
}

.livres:hover{
    transition: all .2s ease-in-out;
	transform: scale(1.03);
	box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.75);
}
.authorBookComments, .bookComments{
    font-size:8pt;
}
.authorBookSection{
    display:flex;
    flex-wrap: wrap;
}
.card-header {
    font-weight:bold;
}
nav {
	text-align: center;
	background-color: black;
}

nav a:active {
	color: black;
}

img {
	width: 100px;
}

.imgAuthor, .bookCover{
	transition: all .2s ease-in-out;
	transform: scale(1);
}

.imgAuthor:hover, .bookCover:hover{
    transition: all .2s ease-in-out;
	transform: scale(1.5);
	box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.75);
}

.wrapper {
	width: 80%;
	background-color: #f0eff0;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	box-shadow: -10px 2px 5px -5px #333, 10px 2px 5px -5px #333;
}
