body{
    background-color: #CCCCCC;
}

.page{
    width : 780px;
    margin :auto;
    font-size: 16px;
    font-family: 'Source sans Pro', Calibri, Tahoma, sans-serif;
    padding: 40px;
    border : 5px solid #3388cc;
    border-radius : 10px;
    box-shadow: 2px 4px 3px black;
    background-color: #FFFFFF;
}

h2{
    font-size:28px;
    color:#3388bb;
    text-transform: uppercase;
    border-bottom: 3px solid #3388dd;
}

.info-photo{
    height: 250px;

}
.info{
    float: left;
}
.photo{
    float:right;
}

.sec-droite{
    margin-left: 150px;
    margin-top: 37px;
}

.titre{
    float:left;
    font-weight: bold;
}

.sec-gauche{
    float:left;
    font-weight: bold;
    font-size: 20px;
}

.section{
    margin-bottom:70px;
    text-align: justify;
}

strong{
    font-size:26px;
}
